.content-wrapper{
    background-color: #777;
    background-image: url('../img/body-bg.png');
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: bold;
}
a:focus{
    background-color: #afeeee;
    color: #4b86b4;
}

td a:hover{
    background-color: #afeeee;
}

td a {
    display: block;
    border: 1px solid black;
    padding: 2px;
}

@media only screen and (max-width:800px){
    td:nth-child(5){
        display:none;
    }
    td:nth-child(6){
        display:none;
    }
    td:nth-child(7){
        display:none;
    }
    td:nth-child(8){
        display:none;
    }
    td:nth-child(9){
        display:none;
    }
    td:nth-child(10){
        display:none;
    }
    th:nth-child(5){
        display:none;
    }
    th:nth-child(6){
        display:none;
    }
    th:nth-child(7){
        display:none;
    }
    th:nth-child(8){
        display:none;
    }
    th:nth-child(9){
        display:none;
    }
    th:nth-child(10){
        display:none;
    }
}